
@use 'base' as base;
@use 'modal' as modal;


@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');





.dark-circle-background
{
    background-color: base.$nuetral-medium-grey;
    border-radius: 50%;
    padding: 15px;
}

.white-circle-background
{
    background-color: base.$nuetral-white;
    border-radius: 50%;
    padding: 15px;
}

.orange-circle-background
{
    background-color: base.$color-primary;
    border-radius: 50%;
    padding: 15px;
}











// #region Media Query Desktop 1440px

.rating-card
{
    height: 400px;
    width: 350px;
    background-color: base.$nuetral-dark-blue;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;



}


.card-component
{

    

    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 0; 
    padding: 0; 

    display: flex;

    * 
    {
        margin: 0;  // Remove margin
        padding: 0; // Remove padding
    }



    img
    {
        position: static;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        padding: 10px;
    }

    p
    {
        line-height: 1.5;

    }

    .rating
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

    
        .rating-button
        {
            width: 20px;;
            height: 20px;
            border-radius: 50%;            
            padding: 15px;   
            text-align: center;
        
            &:hover
            {
                cursor: pointer;
                background-color: base.$nuetral-light-grey;
                color: base.$nuetral-white;
            }
        }
    }



    .btn
    {
        width: 100%;
        background: base.$color-primary;
        border: none;
        border-radius: 30px;
        height: 40px;
        font-weight: bold;
        font-size: base.$main-font-size;
        letter-spacing: .1rem;
        margin-top: 20px;
    }


    .btn:hover
    {
        cursor: pointer;
        color: base.$color-primary;
        background: base.$nuetral-white;
    }

}





//#endregion




// #region Media Query Mobile 375px



// #endregion